<!DOCTYPE html>
<html>
<head>
  <title>Contact Manager</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render :partial => 'layouts/header' %>

    <%= yield %>

    <%= render :partial => 'layouts/footer' %>

</body>
</html>
